flows(EndpointForEachAggregateData).json
[
    {
        "id": "0620bfcbbce498b4",
        "type": "inject",
        "z": "cba26980aab0d7c9",
        "name": "Run every 60s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "run",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "eae496eb0ec6218c"
            ]
        ]
    },
    {
        "id": "00f4b674ea1ab8ac",
        "type": "inject",
        "z": "cba26980aab0d7c9",
        "name": "Manual Run",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "run",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "eae496eb0ec6218c"
            ]
        ]
    },
    {
        "id": "eae496eb0ec6218c",
        "type": "function",
        "z": "cba26980aab0d7c9",
        "name": "Lock / init stats",
        "func": "const now = Date.now();\nconst running = flow.get('agg_only_isProcessing') || false;\nconst lastStart = flow.get('agg_only_lastStart') || 0;\nconst maxRuntimeMs = 10 * 60 * 1000;\n\nif (running && (now - lastStart) < maxRuntimeMs) {\n    node.status({ fill: 'yellow', shape: 'ring', text: 'Skipped: still processing' });\n    return null;\n}\n\nflow.set('agg_only_isProcessing', true);\nflow.set('agg_only_lastStart', now);\nflow.set('agg_only_stats', {\n    startedAt: now,\n    seen: 0,\n    mapped: 0,\n    skipped: 0,\n    dataAllOps: 0,\n    alarmOps: 0,\n    dataAllBatches: 0,\n    alarmBatches: 0,\n    errors: 0,\n    lastMsgAt: now\n});\nflow.set('agg_only_data_all_buffer', []);\nflow.set('agg_only_alarm_buffer', []);\n\nnode.status({ fill: 'blue', shape: 'dot', text: 'Running aggregate only...' });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 130,
        "wires": [
            [
                "5a6ad8873fab3db2"
            ]
        ]
    },
    {
        "id": "5a6ad8873fab3db2",
        "type": "function",
        "z": "cba26980aab0d7c9",
        "name": "Prepare endpoint query",
        "func": "msg.collection = 'endpoints';\nmsg.operation = 'find';\nmsg.payload = { _id: { $type: 'objectId' } };\n\n// Projection: do not load username/password.\nmsg.projection = {\n    _id: 0,\n    id: 1,\n    mac_address: 1,\n    xweb_name: 1,\n    external_ip: 1,\n    url: 1,\n    owner: 1,\n    branch_id: 1\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 130,
        "wires": [
            [
                "93f00b08d922f6fe"
            ]
        ]
    },
    {
        "id": "601d44562b58ebf1",
        "type": "delay",
        "z": "cba26980aab0d7c9",
        "name": "Rate limit endpoint mapping",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "20",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1140,
        "y": 120,
        "wires": [
            [
                "b2df1b0e9e7f7f80"
            ]
        ]
    },
    {
        "id": "b2df1b0e9e7f7f80",
        "type": "function",
        "z": "cba26980aab0d7c9",
        "name": "Mapping data / one endpoint",
        "func": "const limitTime = 900000; // 15 minutes\nconst OFFLINE_THRESHOLD = 2;\n\nfunction stat(name) {\n    const s = flow.get('agg_only_stats') || {};\n    s[name] = (s[name] || 0) + 1;\n    s.lastMsgAt = Date.now();\n    flow.set('agg_only_stats', s);\n}\nfunction normalizeTimestamp(ts) {\n    let t = Number(ts);\n    if (!t) return 0;\n    if (t < 1e12) t *= 1000;\n    return t;\n}\nfunction isOlderThanLimit(ts) {\n    if (!ts) return true;\n    return Date.now() - ts > limitTime;\n}\nfunction decodeText(str = '') {\n    if (typeof str !== 'string') return '';\n    try {\n        return decodeURIComponent(str.replace(/%(?![0-9A-Fa-f]{2})/g, '%25'));\n    } catch (e) {\n        return str;\n    }\n}\n\nconst conf = msg.payload || {};\nconst mac = String(conf.mac_address || '').trim().toUpperCase();\nstat('seen');\n\nif (!mac) {\n    stat('skipped');\n    return null;\n}\n\nconst setup = global.get('xgetsetup')?.[mac]?.setup_data;\nconst streamObj = global.get('xstream')?.[mac]?.stream_data;\nconst sys = global.get('xsysinfo')?.[mac]?.sysinfo_data;\nlet communications = global.get('CheckCommunications') || {};\nconst now = Date.now();\n\nconst output = {\n    name: decodeText(sys?.info?.name || '') || conf.xweb_name || mac,\n    mac_address: mac,\n    on: streamObj?.stream?.acq || 0,\n    branch_id: conf.branch_id || '',\n    owner: conf.owner || '',\n    url: conf.url || conf.external_ip || '',\n    external_ip: conf.external_ip || conf.url || '',\n    devices: []\n};\n\nif (!communications[mac]) {\n    communications[mac] = { status: false, offline_streak: 0, offline_count: 0 };\n}\n\nconst ts = normalizeTimestamp(streamObj?.ts);\nconst isOffline = isOlderThanLimit(ts);\n\nif (isOffline) {\n    communications[mac].offline_streak = Math.min((communications[mac].offline_streak || 0) + 1, OFFLINE_THRESHOLD);\n} else {\n    communications[mac].offline_streak = 0;\n}\n\nif (communications[mac].offline_streak === OFFLINE_THRESHOLD && communications[mac].status === false) {\n    communications[mac] = {\n        ...communications[mac],\n        store_name: conf.xweb_name,\n        mac_address: mac,\n        device_name: conf.xweb_name,\n        alarm_name: 'Offline',\n        text: 'Offline',\n        status: true,\n        acknow: false,\n        dateStart: now,\n        offline_count: 0,\n        offline_timestamp: null\n    };\n}\n\nif (communications[mac].offline_streak === 0 && communications[mac].status === true) {\n    communications[mac].status = false;\n}\n\nglobal.set('CheckCommunications', communications);\n\nconst cate = {};\nconst ctgs = setup?.setup?.ctgs;\nif (Array.isArray(ctgs)) {\n    for (const category of ctgs) {\n        const cateName = decodeText(category?.term || '');\n        for (const devId of (category?.devs || [])) {\n            cate[devId] = cateName;\n        }\n    }\n}\n\nconst streamData = streamObj?.stream?.data;\nconst devicesSetup = setup?.devices || {};\n\nif (streamData && typeof streamData === 'object') {\n    const deviceIds = Object.keys(streamData);\n\n    for (const deviceId of deviceIds) {\n        const device = devicesSetup?.[deviceId];\n        if (!device || !device.vrs) continue;\n        \n        const devGen = device?.gen || {};\n        const groups = {\n            analogInput: [],\n            deviceStatus: [],\n            alarm: [],\n            digitalinput: [],\n            outputStatus: [],\n            chartDef: []\n        };\n\n        const pointIds = Object.keys(device.vrs);\n        for (const pointId of pointIds) {\n            const point = device.vrs[pointId];\n            if (!point || point.vfr !== 1) continue;\n\n            const lng = device?.lng?.vrs?.[pointId];\n            if (!lng) continue;\n\n            let group = null;\n            switch (point.vgrp) {\n                case 0: group = 'analogInput'; break;\n                case 1: group = 'deviceStatus'; break;\n                case 2: group = 'alarm'; break;\n                case 3: group = 'digitalinput'; break;\n                case 4: group = 'outputStatus'; break;\n                default: continue;\n            }\n\n            const name = decodeText(lng.uvun || lng.vun || '');\n            const value = streamData?.[deviceId]?.[pointId] ?? 0;\n            const unit = point.vudm;\n            const item = { pointId, name, value, unit };\n\n            groups[group].push(item);\n\n            if (point.chartDef?.en === true) {\n                groups.chartDef.push({ pointId, name, value, index: pointId, unit });\n            }\n        }\n        output.devices.push({\n            name: decodeText(devGen.name || ''),\n            adr: devGen.addr2,\n            cate: cate[deviceId] || 'Others',\n            uid: deviceId,\n            lanid: devGen.addr1,\n            model: devGen.model,\n            dbpath: devGen.dbpath,\n            analogInput: groups.analogInput,\n            deviceStatus: groups.deviceStatus,\n            alarm: groups.alarm,\n            digitalinput: groups.digitalinput,\n            outputStatus: groups.outputStatus,\n            chartDef: groups.chartDef\n        });\n    }\n}\n\nmsg.conf = {\n    mac_address: mac,\n    xweb_name: conf.xweb_name || '',\n    owner: conf.owner || '',\n    branch_id: conf.branch_id || '',\n    url: conf.url || conf.external_ip || '',\n    external_ip: conf.external_ip || conf.url || ''\n};\nmsg.mac_address = mac;\nmsg.payload = output;\nstat('mapped');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 240,
        "wires": [
            [
                "96f17c1921609efe"
            ]
        ]
    },
    {
        "id": "96f17c1921609efe",
        "type": "function",
        "z": "cba26980aab0d7c9",
        "name": "Replace alarm by xalarms",
        "func": "const data = msg.payload || {};\nconst mac = msg.mac_address || data.mac_address;\n\nfunction safeDecode(text = '') {\n    try {\n        return decodeURIComponent(String(text).replace(/%(?![0-9A-Fa-f]{2})/g, '%25'));\n    } catch (e) {\n        return text;\n    }\n}\n\nconst alarmDevices = global.get('xalarms')?.[mac]?.devices || {};\n\nfor (const dev of data.devices || []) {\n    const alarms = alarmDevices?.[dev.uid]?.alarms || {};\n    const activeAlarms = [];\n\n    for (const pointId in alarms) {\n        const a = alarms[pointId];\n        if (!a?.en) continue;\n\n        activeAlarms.push({\n            pointId,\n            name: safeDecode(a.name),\n            value: a.value,\n            unit: a.unit\n        });\n    }\n\n    if (activeAlarms.length) {\n        dev.alarm = activeAlarms;\n    }\n}\n\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 240,
        "wires": [
            [
                "050e92b883835bd9"
            ]
        ]
    },
    {
        "id": "050e92b883835bd9",
        "type": "function",
        "z": "cba26980aab0d7c9",
        "name": "Data + Alarm Aggregate one endpoint",
        "func": "const data = msg.payload || {};\nconst conf = msg.conf || {};\nconst mac = msg.mac_address || data.mac_address || conf.mac_address;\nconst date_now = Date.now();\n\nconst xalarms = global.get('xalarms') || {};\nconst xstream = global.get('xstream') || {};\nconst chk_offline = global.get('Offline') || {};\nconst chk_commu = global.get('CheckCommunications') || {};\nlet chk_watch = global.get('chk_watch') || {};\nconst active_alarms_global = global.get('Active_Alarms') || {};\n\nfunction safeDecode(t) {\n    if (t === undefined || t === null) return '';\n    try {\n        return decodeURIComponent(String(t).replace(/%(?![0-9A-Fa-f]{2})/g, '%25'));\n    } catch (e) {\n        return String(t);\n    }\n}\n\nfunction sanitizeKeys(obj) {\n    if (Array.isArray(obj)) return obj.map(sanitizeKeys);\n    if (obj && typeof obj === 'object') {\n        const clean = {};\n        for (const k in obj) {\n            if (k.startsWith('$') || k.includes('.')) continue;\n            clean[k] = sanitizeKeys(obj[k]);\n        }\n        return clean;\n    }\n    return obj;\n}\n\nfunction counterAlarmFromXalarms(devices = {}) {\n    let active = 0;\n    const total = Object.keys(devices).length;\n\n    for (const did in devices) {\n        const alarms = devices[did]?.alarms || {};\n        for (const pid in alarms) {\n            const al = alarms[pid];\n            if (al?.en && al?.value) active++;\n        }\n    }\n\n    return { active, total };\n}\n\nfunction counterAlarmFromDevices(devices = []) {\n    let active = 0;\n    const total = Array.isArray(devices) ? devices.length : 0;\n\n    for (const d of devices || []) {\n        for (const al of d.alarm || []) {\n            if (al.value > 0) {\n                active++;\n                break;\n            }\n        }\n    }\n\n    return { active, total, alarm: active > 0 ? 1 : 0 };\n}\n\nfunction buildSensorDevices() {\n    const devices = {};\n\n    for (const d of data.devices || []) {\n        const realtime = [];\n        const deviceStatus = [];\n        const analogInput = [];\n        const alarm = [];\n\n        for (const c of d.chartDef || []) {\n            realtime.push({ name: c.name, value: c.value, unit: c.unit });\n        }\n        for (const s of d.deviceStatus || []) {\n            deviceStatus.push({ point_id: s.pointId, name: s.name, value: s.value });\n        }\n        for (const a of d.analogInput || []) {\n            analogInput.push({ point_id: a.pointId, name: a.name, value: a.value, unit: a.unit });\n        }\n        for (const al of d.alarm || []) {\n            if (al.value) {\n                alarm.push({ point_id: al.pointId, name: al.name, value: al.value });\n            }\n        }\n\n        devices[d.uid] = {\n            name: safeDecode(d.name),\n            adr: d.adr,\n            deviceid: d.uid,\n            model: d.model,\n            realTime: realtime,\n            deviceStatus,\n            analogInput,\n            alarm\n        };\n    }\n    return devices;\n}\n\nfunction buildActiveAlarms(sensorDevices) {\n    const arr = [];\n    const xdevs = xalarms[mac]?.devices || {};\n\n    for (const did in xdevs) {\n        const alarms = xdevs[did]?.alarms || {};\n\n        for (const pid in alarms) {\n            const al = alarms[pid];\n            if (!al?.en || !al?.value) continue;\n\n            const idx = `${mac}_${did}_${pid}`;\n\n            if (!chk_watch[idx]) {\n                chk_watch[idx] = {\n                    note: '',\n                    acknow: 0,\n                    count: 0,\n                    acknow_count: 0,\n                    timestamp: date_now\n                };\n            }\n\n            const ts = chk_watch[idx].count > 0\n                ? chk_watch[idx].timestamp\n                : active_alarms_global[idx]?.dateStart ?? date_now;\n\n            arr.push({\n                xweb_name: safeDecode(data.name),\n                mac_address: data.mac_address || mac,\n                owner: conf.owner || data.owner || '',\n                device_name: safeDecode(sensorDevices?.[did]?.name),\n                device_adr: sensorDevices?.[did]?.adr ?? '-',\n                device_id: did,\n                name: safeDecode(al.name),\n                point_id: pid,\n                status: al.value > 0 ? 'Active' : 'Normal',\n                note: chk_watch[idx].note ?? '',\n                acknow: chk_watch[idx]?.acknow,\n                chk_watch: chk_watch[idx]?.count,\n                timestamp: ts,\n                startTime: active_alarms_global[idx]?.dateStart\n            });\n        }\n    }\n\n    return arr;\n}\n\nconst offlineObj = chk_offline[mac];\nconst isOffline = !!offlineObj;\nconst sensorDevices = isOffline ? {} : buildSensorDevices();\n\nconst dataAllDoc = isOffline ? {\n    mac,\n    _attr: {\n        site_name: conf.xweb_name || data.name || '',\n        status_acq: 0,\n        mac,\n        url: conf.url || conf.external_ip || data.url || '',\n        communication: 'Offline',\n        owner: conf.owner || data.owner || '',\n        branch_id: conf.branch_id || data.branch_id || '',\n        lastest_updated: xstream[mac]?.stream_data?.ts ?? date_now\n    },\n    _status: { active: 0, total: 0 },\n    _active_alarms: [],\n    _devices: {}\n} : {\n    mac,\n    _attr: {\n        site_name: data.name || conf.xweb_name || '',\n        status_acq: data.on ?? 0,\n        mac,\n        url: conf.url || conf.external_ip || data.url || '',\n        communication: 'Online',\n        owner: conf.owner || data.owner || '',\n        branch_id: conf.branch_id || data.branch_id || '',\n        lastest_updated: xstream[mac]?.stream_data?.ts\n    },\n    _status: counterAlarmFromXalarms(xalarms[mac]?.devices || {}),\n    _active_alarms: buildActiveAlarms(sensorDevices),\n    _devices: sensorDevices\n};\n\nconst commu = chk_commu[mac] || {};\nlet chk_sum = { count: 0, acknow: 0, acknow_count: 0 };\n\nif (!isOffline) {\n    for (const key in chk_watch) {\n        if (key.startsWith(mac)) {\n            const v = chk_watch[key] || {};\n            chk_sum.count += v.count || 0;\n            chk_sum.acknow += v.acknow || 0;\n            chk_sum.acknow_count += v.acknow_count || 0;\n        }\n    }\n}\n\nconst alarmDoc = isOffline ? {\n    mac,\n    store_name: conf.xweb_name || data.name || '',\n    url: conf.external_ip || conf.url || data.external_ip || data.url || '',\n    communication: 'Offline',\n    owner: conf.owner || data.owner || '',\n    note: offlineObj?.acknow ? offlineObj?.text || 'Acknowledge' : '',\n    date_offline: offlineObj?.dateStart || date_now,\n    acknow_offline: offlineObj?.acknow || false,\n    alarm: { active: 0, total: 0 },\n    chk_watch: 0,\n    acknow: 0,\n    acknow_count: 0,\n    offline_count: commu.offline_count || 0,\n    offline_timestamp: commu.offline_timestamp || date_now\n} : {\n    mac,\n    store_name: data.name || conf.xweb_name || '',\n    url: conf.external_ip || conf.url || data.external_ip || data.url || '',\n    communication: 'Online',\n    owner: conf.owner || data.owner || '',\n    note: '',\n    alarm: counterAlarmFromDevices(data.devices || []),\n    chk_watch: chk_sum.count,\n    acknow: chk_sum.acknow,\n    acknow_count: chk_sum.acknow_count,\n    offline_count: commu.offline_count || 0,\n    offline_timestamp: commu.offline_timestamp || date_now\n};\n\nglobal.set('chk_watch', chk_watch);\n\nmsg.payload = {\n    mac,\n    dataAll: {\n        updateOne: {\n            filter: { mac },\n            update: {\n                $set: sanitizeKeys(dataAllDoc),\n                $currentDate: { lastModified: true }\n            },\n            upsert: true\n        }\n    },\n    alarmAggregate: {\n        updateOne: {\n            filter: { mac },\n            update: {\n                $set: sanitizeKeys(alarmDoc),\n                $currentDate: { lastModified: true }\n            },\n            upsert: true\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 240,
        "wires": [
            [
                "3a90e50540d1502d"
            ]
        ]
    },
    {
        "id": "3a90e50540d1502d",
        "type": "function",
        "z": "cba26980aab0d7c9",
        "name": "Buffer bulkWrite ops",
        "func": "const BATCH_SIZE = 100;\nconst item = msg.payload || {};\n\nfunction stat(name, n = 1) {\n    const s = flow.get(\"agg_only_stats\") || {};\n    s[name] = (s[name] || 0) + n;\n    s.lastMsgAt = Date.now();\n    flow.set(\"agg_only_stats\", s);\n}\n\nlet dataAllBuffer = flow.get(\"agg_only_data_all_buffer\") || [];\nlet alarmBuffer = flow.get(\"agg_only_alarm_buffer\") || [];\n\nif (item.dataAll) {\n    dataAllBuffer.push(item.dataAll);\n    stat(\"dataAllOps\");\n}\n\nif (item.alarmAggregate) {\n    alarmBuffer.push(item.alarmAggregate);\n    stat(\"alarmOps\");\n}\n\nconst messages = [];\n\nif (dataAllBuffer.length >= BATCH_SIZE) {\n    messages.push({\n        collection: \"data_all\",\n        operation: \"bulkWrite\",\n        payload: dataAllBuffer.splice(0, BATCH_SIZE),\n        options: { ordered: false },\n        topic: \"bulkWrite:data_all\"\n    });\n    stat(\"dataAllBatches\");\n}\n\nif (alarmBuffer.length >= BATCH_SIZE) {\n    messages.push({\n        collection: \"alarms_aggregate\",\n        operation: \"bulkWrite\",\n        payload: alarmBuffer.splice(0, BATCH_SIZE),\n        options: { ordered: false },\n        topic: \"bulkWrite:alarms_aggregate\"\n    });\n    stat(\"alarmBatches\");\n}\n\nflow.set(\"agg_only_data_all_buffer\", dataAllBuffer);\nflow.set(\"agg_only_alarm_buffer\", alarmBuffer);\n\n// ส่งออกหลาย msg ใน output เดียว\nif (messages.length > 0) {\n    return [messages];\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "21dafcd6cf8c75fe",
                "aa152011f4ab99d2"
            ]
        ]
    },
    {
        "id": "21dafcd6cf8c75fe",
        "type": "delay",
        "z": "cba26980aab0d7c9",
        "name": "Rate limit bulkWrite",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "4384401597430a99"
            ]
        ]
    },
    {
        "id": "b69e99e30ffce0ed",
        "type": "inject",
        "z": "cba26980aab0d7c9",
        "name": "Idle flush every 10s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 450,
        "wires": [
            [
                "2a54f0cb81bddc2f"
            ]
        ]
    },
    {
        "id": "2a54f0cb81bddc2f",
        "type": "function",
        "z": "cba26980aab0d7c9",
        "name": "Idle flush + unlock",
        "func": "const running = flow.get('agg_only_isProcessing') || false;\nif (!running) return [null, null];\n\nconst stats = flow.get('agg_only_stats') || {};\nconst now = Date.now();\nconst idleMs = 15000;\nconst maxRuntimeMs = 10 * 60 * 1000;\nconst lastMsgAt = stats.lastMsgAt || stats.startedAt || now;\nconst startedAt = stats.startedAt || now;\n\nnode.status({\n    fill: 'blue',\n    shape: 'ring',\n    text: `seen:${stats.seen || 0} mapped:${stats.mapped || 0} data:${stats.dataAllOps || 0}`\n});\n\nif ((now - lastMsgAt) <= idleMs && (now - startedAt) <= maxRuntimeMs) {\n    return [null, null];\n}\n\nconst dataAllBuffer = flow.get('agg_only_data_all_buffer') || [];\nconst alarmBuffer = flow.get('agg_only_alarm_buffer') || [];\nconst out = [];\n\nif (dataAllBuffer.length > 0) {\n    out.push({\n        collection: 'data_all',\n        operation: 'bulkWrite',\n        payload: dataAllBuffer,\n        options: { ordered: false },\n        topic: 'bulkWrite:data_all:final'\n    });\n    stats.dataAllBatches = (stats.dataAllBatches || 0) + 1;\n}\n\nif (alarmBuffer.length > 0) {\n    out.push({\n        collection: 'alarms_aggregate',\n        operation: 'bulkWrite',\n        payload: alarmBuffer,\n        options: { ordered: false },\n        topic: 'bulkWrite:alarms_aggregate:final'\n    });\n    stats.alarmBatches = (stats.alarmBatches || 0) + 1;\n}\n\nflow.set('agg_only_data_all_buffer', []);\nflow.set('agg_only_alarm_buffer', []);\nflow.set('agg_only_isProcessing', false);\n\nstats.runtimeMs = now - startedAt;\nflow.set('agg_only_stats', stats);\n\nconst summary = {\n    payload: {\n        ok: true,\n        message: 'Aggregate only pipeline idle flushed/unlocked',\n        finalBatches: out.length,\n        stats\n    }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: `Done seen:${stats.seen || 0}, final:${out.length}` });\nreturn [out.length ? out : null, summary];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 450,
        "wires": [
            [
                "21dafcd6cf8c75fe",
                "ca1edb4d5fc4976b"
            ],
            [
                "7a1cf42f5add1f35"
            ]
        ]
    },
    {
        "id": "b0912a2648fe4944",
        "type": "catch",
        "z": "cba26980aab0d7c9",
        "name": "Catch errors",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 550,
        "wires": [
            [
                "24a54e2cba287edd"
            ]
        ]
    },
    {
        "id": "24a54e2cba287edd",
        "type": "function",
        "z": "cba26980aab0d7c9",
        "name": "Unlock on error",
        "func": "const s = flow.get('agg_only_stats') || {};\ns.errors = (s.errors || 0) + 1;\ns.lastMsgAt = Date.now();\nflow.set('agg_only_stats', s);\nflow.set('agg_only_isProcessing', false);\n\nnode.status({ fill: 'red', shape: 'ring', text: 'Error - unlocked' });\nmsg.payload = {\n    ok: false,\n    error: msg.error?.message || String(msg.error || 'Unknown error'),\n    source: msg.error?.source || null,\n    stats: s\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 550,
        "wires": [
            [
                "7a1cf42f5add1f35"
            ]
        ]
    },
    {
        "id": "ad3949eed4be6fea",
        "type": "inject",
        "z": "cba26980aab0d7c9",
        "name": "Reset lock/buffers",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "reset",
        "payloadType": "str",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "351b6a888760b6fc"
            ]
        ]
    },
    {
        "id": "351b6a888760b6fc",
        "type": "function",
        "z": "cba26980aab0d7c9",
        "name": "Reset",
        "func": "flow.set('agg_only_isProcessing', false);\nflow.set('agg_only_data_all_buffer', []);\nflow.set('agg_only_alarm_buffer', []);\nnode.status({ fill: 'green', shape: 'ring', text: 'Reset done' });\nmsg.payload = { ok: true, message: 'Aggregate only reset done' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 620,
        "wires": [
            [
                "7a1cf42f5add1f35"
            ]
        ]
    },
    {
        "id": "7a1cf42f5add1f35",
        "type": "debug",
        "z": "cba26980aab0d7c9",
        "name": "summary only",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 550,
        "wires": []
    },
    {
        "id": "4557b26b46276001",
        "type": "debug",
        "z": "cba26980aab0d7c9",
        "name": "bulkWrite result off",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 340,
        "wires": []
    },
    {
        "id": "aa152011f4ab99d2",
        "type": "debug",
        "z": "cba26980aab0d7c9",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 240,
        "wires": []
    },
    {
        "id": "ca1edb4d5fc4976b",
        "type": "debug",
        "z": "cba26980aab0d7c9",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "4384401597430a99",
        "type": "function",
        "z": "cba26980aab0d7c9",
        "name": "Normalize bulkWrite msg",
        "func": "// Debug / normalize ก่อนเข้า mongodb4 bulkWrite\n\nlet operations = msg.payload;\n\nif (msg.payload?.operations) {\n    operations = msg.payload.operations;\n}\n\nif (!Array.isArray(operations)) {\n    node.error(\"bulkWrite operations is not array\", msg);\n    return null;\n}\n\nmsg.collection = msg.collection || \"data_all\";\nmsg.operation = \"bulkWrite\";\nmsg.payload = [operations];\nmsg.options = msg.options || { ordered: false };\n\nnode.status({\n    fill: \"green\",\n    shape: \"dot\",\n    text: `${msg.collection}: ${operations.length} ops`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 340,
        "wires": [
            [
                "07eb0087d0302e66",
                "295a10cd121fbb03"
            ]
        ]
    },
    {
        "id": "93f00b08d922f6fe",
        "type": "mongodb4",
        "z": "cba26980aab0d7c9",
        "clientNode": "4cad9b0ced29d7d1",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "forEach",
        "maxTimeMS": "30000",
        "handleDocId": false,
        "name": "endpoints",
        "x": 900,
        "y": 120,
        "wires": [
            [
                "601d44562b58ebf1"
            ]
        ]
    },
    {
        "id": "b9ca08bf92f5902d",
        "type": "mongodb4",
        "z": "cba26980aab0d7c9",
        "clientNode": "4cad9b0ced29d7d1",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "bulkWrite data all",
        "x": 950,
        "y": 320,
        "wires": [
            [
                "4557b26b46276001"
            ]
        ]
    },
    {
        "id": "ab96d75e66168449",
        "type": "inject",
        "z": "cba26980aab0d7c9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 720,
        "wires": [
            [
                "b0e0d4ea8ad931c1"
            ]
        ]
    },
    {
        "id": "b0e0d4ea8ad931c1",
        "type": "function",
        "z": "cba26980aab0d7c9",
        "name": "message to telegram",
        "func": "const payload = {\n    chatId: -1001223191678,\n    token: \"1223635288:AAGRXrvTJB4JpD0eZQi-67Wr6QuewmqrY0U\",\n    message_thread_id: 2267\n}\n\nmsg.headers = {\n    'Content-Type': 'application/json'\n}\nmsg.url = `https://api.telegram.org/bot${payload.token}/sendMessage`;\nmsg.payload = {\n    chat_id: payload.chatId,\n    message_thread_id: payload.message_thread_id,\n    text: \"Node-Red Restart!\",\n}\nmsg.rejectUnauthorized = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 720,
        "wires": [
            [
                "f59465443ff7e0a2"
            ]
        ]
    },
    {
        "id": "f59465443ff7e0a2",
        "type": "http request",
        "z": "cba26980aab0d7c9",
        "name": "Telegram Notifications",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "07eb0087d0302e66",
        "type": "switch",
        "z": "cba26980aab0d7c9",
        "name": "",
        "property": "collection",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "data_all",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 340,
        "wires": [
            [
                "b9ca08bf92f5902d"
            ],
            [
                "46cc18c5f0c6ba5f"
            ]
        ]
    },
    {
        "id": "46cc18c5f0c6ba5f",
        "type": "mongodb4",
        "z": "cba26980aab0d7c9",
        "clientNode": "4cad9b0ced29d7d1",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "bulkWrite alarms_aggregate",
        "x": 980,
        "y": 380,
        "wires": [
            [
                "4557b26b46276001"
            ]
        ]
    },
    {
        "id": "295a10cd121fbb03",
        "type": "debug",
        "z": "cba26980aab0d7c9",
        "name": "bulkWrite result off",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "4cad9b0ced29d7d1",
        "type": "mongodb4-client",
        "name": "cj-core",
        "protocol": "mongodb+srv",
        "hostname": "cluster-test.teaxzne.mongodb.net",
        "port": "",
        "dbName": "cj-core",
        "appName": "Cluster-test",
        "authSource": "",
        "authMechanism": "MONGODB-X509",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "/home/watpnas/X509-cert-590808797613905362.pem",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "150",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    }
]